/* You can add global styles to this file, and also import other style files */
body {
  background-size: cover;
  background: url('./assets/background-min.png') no-repeat center center fixed;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
}

flex-spacer {
  flex: 1 0 auto;
}
